[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
django-debug-toolbar = "*"
python-decouple = "*"
mysqlclient = "*"
drf-nested-routers = "*"
django-rest-swagger = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.10"
